.App{
    width:750px ;
    margin: 0 auto;
    transform-origin: 0 0;
    overflow-x: hidden;

}
.flex-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fixed-ele{
    position: fixed;
    top: 0;
    width: 750px;
    height: 96px;
    z-index: 999;
    
}
.header{
    background: url(https://mat1.gtimg.com/news/images/inews/2020/feiyan/18/img/top_headv3.png) no-repeat;
    background-size: contain;
    height: 334px;
}
#news,#rumor,#prevent{
    height: 1000px;
}
.place{
    height: 100px;
}